*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
}

.wrapper{
    width: 100vw;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 80px; */
}

.game-info{
    width: 250px;
    color:white;
    position:absolute;
    top:3rem;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0.5rem 3rem;
    text-align:center;
    transition: 0.5s;
}

.ani{
    animation: a 0.5s 1 linear;
}

@keyframes a {
    0% {
      transform: scale(0.7, 1.3);
    }
  
    25% {
      transform: scale(1.3, 0.7);
    }
  
    50% {
      transform: scale(0.7, 1.3);
    }
  
    75% {
      transform: scale(1.3, 0.7);
    }
  
    100% {
      transform: scale(1, 1);
    }
  }

.tic-tac-toe{
    width:90%;
    max-width:20rem;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 1/1;
}


.box{
    position:relative;
    width:100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    font-size: 3rem;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1, .box2, .box4, .box5{
    border-right:2px solid white;
    border-bottom:2px solid white;
}

.box3, .box6{
    border-bottom: 2px solid white;
}

.box7, .box8{
    border-right:2px solid white;
}

.btn{
    color:white;
    position: absolute;
    bottom: 3rem;
    left:50%;
    transform:translateX(-50%);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0.5rem 2rem;
    cursor:pointer;
    display: none;
    font-size: medium;
}

.btn.active{
    display: flex;
}

.win{
    background-color: rgba(0, 255, 0, 0.3);
}

.container {
    --color: #fff;
    --size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
    top: 1.2em;
    right: 1.1em;
}

.container .mute {
    position: absolute;
    animation: keyframes-fill .5s;
}

.container .voice {
    position: absolute;
    display: none;
    animation: keyframes-fill .5s;
}

.container input:checked~.mute {
    display: none;
}

.container input:checked~.voice {
    display: block;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.ani {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    color: var(--glow-color);
    font-weight: bold;
    background-color: var(--btn-color);
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    transition: all 0.3s;
}

.ani::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.ani:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

@keyframes keyframes-fill {
    0% {
        transform: rotate(0deg) scale(0);
        opacity: 0;
    }

    50% {
        transform: rotate(-10deg) scale(1.2);
    }
}


@media only screen and (max-width: 768px) {
    .game-info {
        top: 5rem;
    }

    .btn {
        bottom: 6rem;
    }

    .ani:hover {
        color: var(--glow-color);
        background-color: var(--btn-color);
        box-shadow: 0 0 1em .25em var(--glow-color),
            0 0 4em 1em var(--glow-spread-color),
            inset 0 0 .75em .25em var(--glow-color);
    }
}